*{
    margin: 0;
    padding: 0;
}

.header{
    background-color:coral;
    height: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    height: 47px;
    width: 90%;
    border-radius: 12px;
    margin: 30px;
}

.container_buttons{
    display: flex;
    margin:10px;
    gap:20px;
}